* {
    /* font-size: 1.35rem; */
    /* font-family: sans-serif; */
    margin: 0px;
}


.container1 {
    /* display: none; */
    /* height: 40vh; */
    background-color: aqua;
    overflow: auto;
}

.container2 {
    font-family: sans-serif;
    /* height: 40vh; */
    background-color: aqua;
    /* border: 1px solid; */
    overflow: auto;
}

.image{
    width: 80%;
    display: block;
    margin: auto;
}

.sentences {
    border: 1px solid;
    border-radius: 0.2rem;
    /* background-color: aquamarine; */
}

.listing {
    font-family: 'Courier New', Courier, monospace;
    width: 80%;
    margin: auto;
    /* background-color: beige; */
}

.bordered {
    border: 1px solid;
}


.buttons {
    /* display: flex; */
    display: none;
}

.button {
    padding: 0.5rem;
    width: 100%;
}

.num {
    width: 4rem;
}

.main-footer{
    /* height: 1rem; */
    color: black;
    font: 1.3em Arial, sans-serif;
        text-shadow: white 1px 1px 0, white -1px -1px 0, 
        white -1px 1px 0, white 1px -1px 0;


    /* text-align: center; */
    position:-webkit-sticky; 
    position:sticky; 
    bottom:0; 
    border-color:red;
    background:#aaa;
    padding: 0.4rem;
    opacity: 0.8;
}
