*{
  font-size: 1.1rem;
  font-family: sans-serif;
}

p{
  margin: 0;

}

.log1 {
    /* background-color: aliceblue; */
}


.div_nav span{

  border-radius: 0.6em;
  background-color: aqua;
  padding: 0 4px
}

.div_edit{
  display: flex;
  display: none;
  height: 35vh;
}

.div_edit div {
  float: left;
  width: 100%;
  height: 100%;
}

.text {
  width: 100%;
  height: 100%;
  line-height: 1;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  
}

.div_table{
  display: none;
  margin-top: 0.2em;
  height: 50vh;
  overflow: auto;
}

.table{
  width: 100%;
  height: 100%;
}

.table td{
  border-bottom: 1px dotted;
}

.div_list0 p:nth-child(2n+1) {
  background-color: #f0f0f0;
}

.div_list1 {
  display: none;
}

.clicked {
  border: 1px solid;
}

.grey {
  background-color: gainsboro;
}


