*{
  font-size: 1.1rem;
  font-family: sans-serif;
}

p{
  margin: 0;

}

.div_edit{
  display: flex;
  height: 75vh;
  border: 1px solid;
}

.log1 {
  background-color: #999;
}

.column0 {
  float: left;
  background-color: blue;
  /* display: none; */
  /* padding: 10px; */
  width: 60%;
  height: 100%;
  line-height: 1;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

.div_table{
  margin-top: 0.2em;
  height: 50vh;
  overflow: auto;
}

.table{
  width: 100%;
  height: 100%;
}

.table td{
  border-bottom: 1px dotted;
}

