
body{
  height: 100vh;
}

.test {
  background-color: lavender;
}

.card-body{
  padding: 1px;
  background-color: lightgreen;
}

.btn{
  /* background-color: lightgray; */
  /* color: gray; */
}



