
body{
  height: 100vh;
}

.test {
  background-color: lavender;
}

.card-body{
  padding: 1px;
  background-color: lightgreen;
}

.btn{
  /* background-color: lightgray; */
  /* color: gray; */
  padding: 0px 6px 1px 6px;
  margin-left: 3px;
  
}
.card-footer{
  background-color: lightgrey;
}



