
body{
  height: 100vh;
}

.test {
  background-color: gray;
}

.card-body{
  padding: 1px;
  background-color: lightgreen;
}

.footer1{
  background-color: lightgreen;
}

.btn{
  /* background-color: lightgray; */
  /* color: gray; */
  padding: 0px 6px 1px 6px;
  margin-left: 3px;
  
}

.active1{
  background-color: lightpink;
}

.first-word{
  color: blue;
}

.footer2{
  background-color: lightgrey;
}
.number{
  margin-right: 8px;
}


