
body {
    font-size: 1.2em;
}

.log1 {
    font-size: 1.6em;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;

}

.item {
  background-color: aqua;

  width: 48%;
}

.checked {
    background-color: lightgreen;
}

.main-footer{
    position:-webkit-sticky; 
    position:sticky; 
    bottom:0; 
    border-color:red;
    background:#aaa;
}