
body {
    
    font: 1.2em Arial, sans-serif;
}

.log1 {
    font-size: 1.6em;
    padding-left: 2em;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;

}
.container1{
    text-align: center;
}
.item {
    text-align: center;
  background-color: aqua;
  background: linear-gradient(to top, aqua 0%, #b5dde8 100%);
  width: 48%;
}

.checked {
    background-color: lightgreen;
    background: linear-gradient(to top, lightgreen 0%, lightgreen 100%);
    border: 1px solid #000;
    border-radius: 10px;
}

.main-header{position:-webkit-sticky; 
    position:sticky; 
    top:0;
    background:#aaa;
}

.main-footer{
    position:-webkit-sticky; 
    position:sticky; 
    bottom:0; 
    border-color:red;
    background:#aaa;
}

.stroke {
    color: lightgreen;
    font: 1.6em Arial, sans-serif;
        text-shadow: black 1px 1px 0, black -1px -1px 0, 
                 black -1px 1px 0, black 1px -1px 0;

   }
