
body{
  font-size: 1.3rem;
  font-family: sans-serif;
  line-height: 0.9;
}

p{
  margin:2px;
}
h4{
  margin:2px;
}

.rounded{
  border: 1px solid black;
}

.selected {
  background-color:yellowgreen;
}

.container1{
  height:40vh;
  text-align: center;
}

.request{
  width: 90%;
}

.request_drop{
  float: left;
  width: 40%;
}

.select1{
  float: left;
  width:40%;
}

.div2{
  float: left;
  width: 20%;
}
.proper{
  float: left;
  width: 5%;
}
.red{
  background-color: pink;
}

.ask{
  border: 1px solid;
  padding: 0.3rem;
  text-align: left;
  background-color: aqua;
  border-radius: 0.4rem;
}

.button {
  font-size: large;
  width: 8rem;
  border-radius: 1rem;
}

.simple-request {
  /* background-color:papayawhip; */
  border-radius: 0.4rem;
  padding: 0.2rem 1rem;
  border: 2px solid;
  margin: 3px;
  border-color: greenyellow;
}