
* {
    font-family: Arial;
    font-size: 1.2rem;
    margin: 0;
    box-sizing: border-box;
  }


.dbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: aliceblue;
}  

.block {
  height: 220px;
  width: 160px;
  margin: 10px;
  background-color: aqua;
  border: solid 1px black;
}

.img {
  width: 100%;

}

P { text-align: center }

