* {
  font-size: 2rem;
  font-family: sans-serif;
  line-height: 0.9;

}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 90vmin;
	height: 90vmin;
	justify-content: center;
	margin: auto;
	background-color: cadetblue;
	/* border: solid 1px; */
}

.lane {
	width: 90vmin;
	height: 3vmin;
	background-color: cadetblue;
	margin: auto;
}

.square {
	display: flex;
	width: 11.6%;
	height: 12.1%;

	/* border: solid 2px; */
}

.black-cell {
	background-color: cadetblue;
}

.white-cell {
	background-color: white;
}

.fishka {
	border: solid 3px;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	margin:auto;
	border: solid 2px;
}

.fishka-black {
	background-color: brown;
}

.fishka-white {
	background-color:aqua;
}

.checked {
	border-color:greenyellow;
}

.out {
	text-align: center;
	border: solid 1px;
}

