* {
  font-size: 1.2rem;
  font-family: sans-serif;
  line-height: 0.9;

}

.out {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	height: 6vw;
	/* justify-content:space-between; */
}

.out2 {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	height: 6vw;
	justify-content:space-between;
}

.out2 div {
	width: 8%;
	background-color: aqua;
	/* margin: auto; */
}



.grid {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	height: 60vh;
	/* background-color:aliceblue; */
	justify-content:space-between;
	background-image: url(img01.png);
	background-size: 100% 100%;
	/* background-image: inherit; */
}

.cell {
	display: flex;
	flex-direction: column;
	/* align-content: flex-end;		 */
	width: 8%;
	height: 50%;
	background-color: aqua;
	border-radius: 4vw;

}

.down {
	justify-content: flex-end;

}

.fishka {
	display: flex;
	/* width: 100%; */
	height: 5vw;
	justify-content: center;
	width: 5vw;
	max-height: 5vw;
	border-radius: 50%;
	background-color: bisque;
	background-color: white;
	border: solid 2px bisque;
	margin-left: 1vw;
}

.black {
	background-color: burlywood;
}

.checked {
	border-color: chartreuse;
}

