* {
  font-size: 2rem;
  font-family: sans-serif;
  line-height: 0.9;

}



.select{
  background-color: lightcoral;
}

.div-slider{
	margin: 0.2rem;
	position: relative;
}

.slider {
	font-family: sans-serif;
	scroll-snap-type: x mandatory;	
	display: flex;
	-webkit-overflow-scrolling: touch;
	width: 100vw;
	margin: auto;
	overflow-x: scroll;
}


section {
	/* display: flex; */
	min-width: 100vw;
	height: 100vh;
	scroll-snap-align: start;
	/* text-align: center; */
	position: relative;

}

.desc {
	height: 90%;
	overflow: auto;
}

.note {
	text-align: center;
	border: solid 1px;
}

.val {
	text-align: right;
	background-color:aliceblue;
}

