* {
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 0.9;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
  }
  
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 91vmin;
    height: 91vmin;
    justify-content: center;
    margin: auto;
    background-color: cadetblue;
    background-color: white;
    border: solid 1px;
}

.square {
    display: flex;
    width: 15vmin;
    height: 15vmin;
    background-color: aqua;

    /* border-radius: 0.2rem; */
    border-color: black;

    border: solid 1px;
}

.nonesqures {
    background-color: white;
}

.d2 {
    display: flex;
}

.horiz, .vert {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;    
    width: 50%;
    height: 2rem;

}

.ihoriz {
    display: flex;
    width: 20vmin;
    height: 10vmin;
    border: 2px solid;
}

.ivert {
    width: 10vmin;
    height: 20vmin;
    border: 2px solid;
}

.select {
    border-color: cadetblue;
}


.hf {
    display: flex;
    width: 30vmin;
    height: 15vmin;
    background-color: aquamarine;

    /* border: 1px solid; */

}


.ff {
    position: static;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    border: 1px solid
}