* {
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 0.7;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
  }
  
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 100vmin;
    height: 100vmin;
    justify-content: center;
    margin: auto;
    background-color: cadetblue;
    background-color: white;
    border: solid 1px;
}

.square {
    display: flex;
    width: 1vmin;
    height: 1vmin;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    background-color: #FFF;

    /* border-radius: 0.2rem; */
    border-color: black;

    border: dotted 1px;
}

.clicked {
    background-color: black;
}
