
body {
    font-size: 1.8em;
}

audio{
    /* visibility: hidden; */
    display: none;
}
.menu_button {
    text-align: center;
    padding-top: 0.4em;
    font-family: Arial;
    color: burlywood;

    position: absolute;
    height: 1.6em;
    width: 1.9em;
    border-radius: 100%;
    background-color: antiquewhite;
    opacity: 0.4;
    right: 1em;
    bottom: 1em;
    /* z-index: 5; */
}

.container{
    position: relative;
}

.panels{
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
.panel1{
    position: static;
    float: left;
    width: 50%;
    height: 100%;

}
.panel2{
    float: left;
    width: 50%;
    height: 100%;

}

.container1 {
    position: relative;
    left: 0px;
    top: 0px;
    color: blue;
    background-color: burlywood;
    height: 40vh;
    border: solid 1px;
    overflow: auto ;
}

.container2 {
    position: relative;
    color: blue;
    background-color: aqua;
    height: 30vh;
    border: solid 1px;
    overflow: auto ;
}

span {
    width: 15rem;
}

.buttons{
    display: flex;
}

.button{
    width: 100%;
    height: 3em;
}


